body{
    font-family: sans-serif;
    margin: 2px;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    background-color: #fafafa;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    margin: 10px;
}
.logo img{
    height: 50px;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    margin-right: 10px;
}

nav a:hover{
    color: #FA6E00;
}

.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url("/assets/images/atlona-velocity-hero-bkg.jpg");
    background-size: cover;
    min-height: 400px;
}

.banner h2, .banner p{
    text-decoration: none;
    color: #fff;
}

.banner hr {
    background-color: #fff;
    width: 100px;
    margin-left: 0%;
    height: 3px;
}

.textBanner{
    display: inline;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0px;
    margin-left: 50px;
}

.textBanner img {
    height: 100px;
    margin-bottom: 100px;
}

.imageBanner {
    display: inline;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    width: 70%;
    margin-left: 10%;
}

.secondBanner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
}

.textBanner-second{
    display: inline;
}

.Video-secondBanner{
    display: inline;
}

.Video-secondBanner img{
    display: inline;
    width: 100%;
    object-fit: contain;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.firstColumn {
    display: inline;
}

.secondColumn {
    display: inline;
}

.firstColumn img {
    width: 50%;
    padding: 20px;
}

.secondColumn img{
    width: 50%;
    padding: 20px;
}

.procesadorContainer{
    display: grid;
    background-color: #D9D9D6;
}

.procesadorContainer h2{
    margin-left: 100px;
}

.procesadorContainer hr {
    height: 3px;
    width: 100px;
    margin-left: 9%;
    margin-top: 30px;
    background-color: #FA6E00;
}

.procesadorGrid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: #D9D9D6;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
}

.procesadorGrid p {
    margin-top: 20px;
}

.procesadorGrid .procesadorCard {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}


.procesadorGrid .procesadorCard img {
    width: 100%;
    object-fit: contain;
}

.procesadorGrid .procesadorCard p {
    margin-top: 0px;
}

.procesadorCard h4 {
    color: #0085AD;
}

.conexiones_banner{
    position: relative;
    min-height: auto;
    background: #fff;
    padding: 20px;
}

.conexiones_banner h2 {
    display: flex;
    justify-content: center;
}

.conexiones-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #fff;
    padding: 100px;
}

.conexiones-container .conexiones{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.conexiones-container .conexiones img{
    width: 100px;
    object-fit: contain;
}
.conexiones-container .conexiones h4, p{
    margin-top: -10px;
}

.conexiones_banner h2{
    color: orangered;
    padding: 10px;
}

.products_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #D9D9D6;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
}
.products_container .productsCard{
    display: inline;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.products_container .productsCard img {
    width: 100%;
    object-fit: contain;
}

.productsCard h4 {
    color: #0085AD;
}

.form_container {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    background-color: #253746;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.form_container h2 {
    color: #fafafa;
}

.form_container p {
    color: #fafafa;
}

.form_container hr {
    width: 100px;
    height: 3px;
    background-color: #f5f5f5;
    margin-left: 0%;
}

.form_container .tex_forms{
    display: inline;
    align-items: center;
    padding-top: 50px;
}

.certificacion_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.certificacion_container .certificacionCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.certificacionCard img {
    width: 75%;
    object-fit: contain;
}
.certificacionCard p{
    font-size: 14px;
}

@media (max-width:800px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 5px;
    }
    .banner{
        grid-template-columns: 1fr;
        padding: 5%;
        align-items: center;
        grid-template-rows: max-content;
        justify-content: center;
        background-size: cover;
    }

    .textBanner{
        margin-left: 10%;
    }
    
    .imageBanner img{
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
    }

    .textVideo {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        padding:5%;
        margin-left: 0%;

    }

    .textVideo img {
        margin-top: -60px;
        margin-bottom: 50px;
    }

    .procesadorContainer {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        text-align: center;
    }

    .procesadorContainer h2 {
        margin-left: 0%;
    }

    .procesadorGrid{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        text-align: center;
        padding: 10%;
        margin-left: 0%;
    }

    .conexiones-container{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10%;
    }

    .products_container {
        grid-template-columns: 1fr;
        clip-path: polygon(0 0, 100% 0.5%, 100% 100%, 0% 100%);
        padding: 10%;

    }

    .form_container {
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .certificacion_container{
        grid-template-columns: 1fr;
        padding: 5%;
    }
}