body{
    font-family: sans-serif;
    margin: 2px;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    background-color: #fafafa;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    margin: 10px;
}
.logo img{
    height: 50px;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    margin-right: 10px;
}

nav a:hover{
    color: aqua;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 10px;
    background-image: url("/assets/images/atlona-velocity-hero-bkg.jpg");
    object-fit: cover;
}

.banner h2, .banner p{
    text-decoration: none;
    color: #fff;
}

.textBanner{
    margin-left: 100px;
}

.imageBanner img{
    height: 300px;
    margin-right: 100px;
}

.products_banner{
    position: relative;
    min-height: 100vh;
    background: #fff;
}

.products_banner h2 {
    margin-left: 100px;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.products-container .product{
    height: 250px;
    width: 350px;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);
    cursor: pointer;
    overflow: hidden;
}

.products-container .product img{
    height: 50%;
    width: 50%;
    object-fit: cover;
    transition: .2s linear;
}

.conexiones_banner{
    position: relative;
    min-height: auto;
    background: #fafafa;
    padding: 20px;
}

.conexiones_banner h2 {
    display: flex;
    justify-content: center;
}

.conexiones-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.conexiones-container .conexiones{
    width: 250px;
    align-items: center;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);
    cursor: pointer;
    overflow: hidden;
}

.conexiones-container .conexiones img{
    height: 40%;
    width: 40%;
    object-fit: contain;
    transition: .2s linear;
}

.conexiones_banner h2{
    color: orangered;
    padding: 10px;
}

.audio_banner{
    position: relative;
    min-height: 100vh;
    background: white;
}

.audio-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.audio-container .audio{
    width: 250px;
    align-items: center;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);
    cursor: pointer;
    overflow: hidden;
}

.audio-container .audio img{
    height: 30%;
    width: 30%;
    object-fit: cover;
    transition: .2s linear;
}

@media (max-width:800px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 5px;
    }
    .banner{
        flex-direction: column;
    }
    
    .imageBanner img{
        padding: 10px 5px;
    }
}