body{
    font-family: sans-serif;
    margin: 2px;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    background-color: #fafafa;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    margin: 10px;
}
.logo img{
    height: 50px;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    margin-right: 10px;
}

nav a:hover{
    color: aqua;
}

.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url("/assets/images/atlona-velocity-hero-bkg.jpg");
    background-size: cover;
}

.banner h2, .banner p{
    text-decoration: none;
    color: #fff;
}

.textBanner{
    display: inline;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0px;
    margin-left: 100px;
}

.textBanner img {
    height: 100px;
}

.imageBanner img{
    display: inline;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    width: 60%;
    margin-left: 15%;
}

.products_banner{
    position: relative;
    min-height: 100vh;
    background: #fff;
}

.products_banner hr {
    margin-left: 100px;
    width: 100px;
    height: 3px;
    margin-top: 50px;
    background-color: #FA6E00;
}

.products_banner h2 {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.products-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.products-container .product{
    justify-content: center;
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.products-container .product .text_products {
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    
}

.products-container .product img{
    width: 35%;
    object-fit: contain;
}

.products-container .product img:hover{
    width: 40%;
    object-fit: contain;
}

.conexiones_banner{
    position: relative;
    min-height: auto;
    background: #fafafa;
    padding: 20px;
}

.conexiones_banner h2 {
    display: flex;
    justify-content: center;
}

.conexiones-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.conexiones-container .conexiones{
    display:inline;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.conexiones-container .conexiones img{
    height: 40%;
    width: 40%;
    object-fit: contain;
    transition: .2s linear;
}

.conexiones-container .conexiones h4{
    margin-top: 0px;
}

.conexiones_banner h2{
    color: orangered;
    padding: 20px;
}

.audio_banner{
    position: grid;
    min-height: 100vh;
    background: #D9D9D6;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
    padding-top: 50px;
}

.audio_banner h2 {
    margin-left: 100px;
    padding-top: 5px;
    color: #FA6E00;
}

.audio_banner hr {
    margin-left: 100px;
    height: 3px;
    background-color: #0085AD;
    width: 100px;
}

.audio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 100px;
    margin-top: -20px;
}

.audio-container .audio{
    display: inline;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.audio-container .audio img{
    width: 70%;
    object-fit: contain;
    transition: .2s linear;
    margin-top: 5px;
}

.audio-container .audio .bocina{
    width: 45%;
    object-fit: contain;
    transition: .2s linear;
    margin-left: 15%;
}

.audio-container .audio h3{
    color: #0085AD;
    margin-bottom: 0px;
}

.audio-container .audio h4{
    margin-top: 0px;
    color: #0085AD;
}

@media (max-width:800px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 5px;
    }
    .banner{
        grid-template-columns: 1fr;
        padding: 5%;
        align-items: center;
        grid-template-rows: max-content;
        justify-content: center;
        background-size: cover;
    }
    
    .imageBanner img{
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
        width: 75%;
    }

    .textBanner {
        margin-left: 20%;

    }

    .conexiones-container{
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        margin-left: 15px;
        margin-right: 15px;
    }

    .products_banner h2 {
        margin-left: 10%;
        margin-right: 5%;
    }

    .products_banner hr {
        margin-left: 10%;
        margin-right: 5%;
    }

    .products-container {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        margin-left: 15px;
        margin-right: 15px;
    }

    .products-container .product img{
        width: 35%;
    }

    .products-container .product img:hover{
        width: 40%;
    }

    .products-container .product .text_products img{
        width: 50%;
    }

    .products_banner {
        align-items: center;
    }

    .audio_banner h2{
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .audio_banner hr{
        margin-left: 10%;
        margin-right: 5%;
    }

    .audio-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10%;
    }
}